.char {
  display: flex;
  flex-direction: row;
  margin: 30px;
}

.title {
  display: flex;
  flex-direction: column;
}

.pinyin {
  text-align: center;
  font-size: 30px;
}

.hanzi {
  height: 130px;
  width: 130px;
  font-size: 120px;
  line-height: 120px;
  text-align: center;
  vertical-align: middle;
  border: 4px solid lightskyblue;
  /* text-decoration: line-through dotted lightskyblue; */
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.strokes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.playgrounds {
  display: flex;
  flex-direction: row;
}

.playground {
  height: 80px;
  width: 80px;
  font-size: 70px;
  line-height: 70px;
  text-align: center;
  vertical-align: middle;
  border: 3px solid lightskyblue;
  margin: 6px;
  /* text-decoration: line-through dotted lightskyblue; */
}
