@media (max-width: 800px) {
  .hanzi {
    flex-direction: column;
    margin: 10px 15px;
  }

  .title {
    margin: 10px 0;
  }

  .info1 {
    flex-direction: column;
  }

  .hanzi-compound {
    margin: 5px 0;
  }

  .stroke-orders {
    margin: 5px 0;
  }

  .note {
    margin: 5px 0;
  }

  .playground {
    width: 10vw;
    height: 10vw;
  }
}
