.hanzi {
  display: flex;
  flex-direction: row;
  margin: 50px 10px;
}

.title {
  width: 100px;
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}

.title-pinyin {
  font-size: 20px;
  text-align: center;
}

.title-hanzi {
  width: 100px;
  aspect-ratio: 1/1;
  border: solid 4px lightskyblue;
  margin-top: 10px;
}

.content {
  display: flex;
  flex-direction: column;
}

.info {
  display: flex;
  flex-direction: column;
}

.info1 {
  display: flex;
  flex-direction: row;
}

.hanzi-compound {
  display: flex;
  flex-direction: row;
  font-size: 20px;
}

.stroke-orders {
  margin-left: 20px;
}

.stroke-order {
  width: 50px;
  aspect-ratio: 1/1;
}

.note {
  font-size: 15px;
  margin-bottom: 15px;
}

.playgrounds {
  display: flex;
}

.playground {
  width: 80px;
  aspect-ratio: 1/1;
  border: solid 4px lightskyblue;
  margin: 6px;
}

@media (max-width: 800px) {
  .hanzi {
    flex-direction: column;
    margin: 10px 15px;
  }

  .title {
    margin: 10px 0;
  }

  .info1 {
    flex-direction: column;
  }

  .hanzi-compound {
    margin: 5px 0;
  }

  .stroke-orders {
    margin: 5px 0;
  }

  .note {
    margin: 5px 0;
  }

  .playground {
    width: 10vw;
    height: 10vw;
  }
}
