.hanzi {
  margin: 50px 10px;
}

.title {
  margin-right: 40px;
}

.title-pinyin {
  font-size: 20px;
}

.title-hanzi {
  width: 100px;
  height: 100px;
  border: solid 4px lightskyblue;
  margin-top: 10px;
}

.hanzi-compound {
  font-size: 20px;
}

.stroke-orders {
  margin-left: 20px;
}

.stroke-order {
  width: 50px;
  height: 50px;
}

.note {
  font-size: 15px;
  margin-bottom: 15px;
}

.playground {
  width: 80px;
  height: 80px;
  border: solid 4px lightskyblue;
  margin: 6px;
}
